@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #010922;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

header {
    background-color: #010922;
    position: fixed;
    max-height: fit-content;
    top: 0;
    width: calc(100% - 9%);
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items: center;
    margin: 0;
    z-index: 3;
}

.logo {
    font-family: 'Audiowide', sans-serif;
    color: #6B6BF6;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    display: none; 
    font-size: 24px;
    cursor: pointer;
}

nav button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

nav button.nav-link {
    position: relative;
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside the button */
    /* Other styles for your buttons */
}

nav button.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height as needed for your border */
    background-color: #6B6BF6; /* Color of the border */
    transition: width 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

nav button.nav-link.active::before {
    width: 100%; /* This will animate the border to grow from left to right */
}

nav button.active {
    border-bottom: 2px solid #6B6BF6;
}


.hero-page {
    margin-top: 6rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-page h1 {
    font-size: 2rem;
    margin: 2rem;
}

.hero-text {
    width: 100%;
}
  
.job-title {
    color: #6B6BF6;
    font-family: 'Audiowide', sans-serif;
    margin-top: 4rem !important;
    height: 3rem;
    font-size: 2rem !important;
    width: max-content;
    border-right: 2px solid #6B6BF6; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    overflow: hidden; /* Ensures the content is hidden until it's "typed" */
    margin: 0 auto; /* Gives that typing effect */
    animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

.hero-image {
    height: 35rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.hero-image img {
    width: 480px;
}

.section-divide {
    width: 100%;
    margin-top: 3rem;
}


/* about page */
.line {
    width: 100%;
    height: 2px;
    background-color: #c6c6ff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-page {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-text h1 {
    margin: 0;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}

.about-text p {
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: justify;
}

.my-skillset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-skillset h1 {
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    margin-top: 3rem;
}

.skills {
    margin-top: 3rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 auto;
}

.skill {
    height: 10rem;  
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    border-radius: 10px;
    border: 2.5px solid #8888ff;
    box-shadow: 0 0 5px #8888ff, 0 0 5px #8888ff, 0 0 20px #8888ff, 0 0 30px #8888ff;
    transition: 0.8s;
}

.skill:hover {
    transform: translateY(-20px);
}

/* projects page */
.projects-page h1 {
    font-family: 'Audiowide', sans-serif;
    margin-top: 1.5rem;   
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}

.project {
    max-height: fit-content;
    margin-top: 3rem;
    background-color: #000e36;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 3px 3px 0px #8888ff;
    border-radius: 25px;
    z-index: 1;
}

.project-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-details h2 {
    font-family: 'Audiowide', sans-serif;
    color: #6B6BF6;
}

.project-description-bottom {
    color: #c6c6ff;
    font-style: italic;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.tech-used ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tech-used li {
    margin-right: 1rem;
}

.project-links {
    margin-top: 3rem;
    display: flex;
    align-items: bottom;
    gap: 1rem;

}

.project-links i {
    font-size: 1.3rem;
    color: white;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project img {
    max-width: 550px;
    height: auto;
    border-radius: 20px;
}

/* contact page */
.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}

.contact-details h1 {
    font-family: 'Audiowide', sans-serif;
    font-size: 2rem;
    margin-top: 1.5rem; 
    margin-bottom: 1rem;  
}

.social-media-icons i {
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    margin-right: 3rem;
}

footer {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #010922;
    color: white;
    height: 3rem;
}


@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
   
    .hamburger {
        display: block;
    }

    .nav-link {
        display: none;
        flex-direction: column;
    }

    .hero-page {
        display: flex;
        flex-direction: column;
    }

    .project {
        display: flex;
        flex-direction: column;
    }

    .project img {
        margin-top: 1rem;
    }
}